@inherits DittoView<DittoDemo.ViewModels.SocialLinksViewModel>
<!-- Contact -->
<section>
    <h2 class="major"><span>Get in touch</span></h2>
    <ul class="contact">
        @RenderLinkIfNotEmpty(Model.View.FacebookLink, "facebook", "Facebook")
        @RenderLinkIfNotEmpty(Model.View.TwitterLink, "twitter", "Twitter")
        @RenderLinkIfNotEmpty(Model.View.RssLink, "rss", "RSS")
        @RenderLinkIfNotEmpty(Model.View.DribbbleLink, "dribbble", "Dribbble")
        @RenderLinkIfNotEmpty(Model.View.LinkedinLink, "linkedin", "Linked In")
        @RenderLinkIfNotEmpty(Model.View.GoogleLink, "googleplus", "Google+")
    </ul>
</section>
<!-- /Contact -->

@helper RenderLinkIfNotEmpty(string link, string cssClass, string linkName)
{
    // A helper function is handy when you have to do the same thing over and over again
    // So now we only have to write the "if" check and list item once, and we only need
    // to put in the things that can vary
    
    if (string.IsNullOrEmpty(link) == false)
    {
        <li><a href="@link" class="@cssClass">@linkName</a></li>
    }
}