@inherits UmbracoViewPage<IBanner>

@if (Model.IsVisible)
{
    <!-- Banner -->
    <div id="banner-wrapper" style="background: url('@Model.BackgroundImage') center center no-repeat;">
        <section id="banner">
            <h2>@Model.Header</h2>
            <span class="byline">@Model.Subheader</span>
			@if(Model.Link != null)
			{
            	<a href="@Model.Link" class="button">@Model.LinkText</a>
            }
        </section>
    </div>
    <!-- /Banner -->
}